h1 , h2 {
        color:blue;
        text-decoration: underline;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box

}
div {
    background-color:aquamarine;
     text-align: center;
}
div h1{
    margin: 20px;
    
}
div h2{
    margin: 20px;
}
ul {
    /*list-style: none;
}